<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Free application for laundry in your area</h2>
        <p class="lead">ZEBO app will search laundries in your area, you can place job to laundry which suites you and your needs.
          For more information see our <a target="_blank" href="https://help.zebo.app/en/about/" >about</a> page 
          and <a target="_blank" href="https://www.youtube.com/channel/UCQgl40yBOX40KrGUYb5LedA" >youtube</a> channel.
          It is really simple, in 3 steps.
        </p>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <ol>
          <h4><li>Add laundry into your basket</li></h4>
          <h4><li>Select your Zebo (laundry)</li></h4>
          <h4><li>Post your job</li></h4>
        </ol>
      </div>
      <div class="col-md-4">
        <div class="portfolio-item">
           <img class="img-portfolio img-responsive" src="img/post-job.gif">
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-lg-12 text-center">
        <p class="lead">You can also ask your favorite zebo (laundry) to come for pickup without adding any items.</p>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="portfolio-item">
           <img class="img-portfolio img-responsive" src="img/favorite-laundry.gif">
        </div>
      </div>
      <div class="col-md-4">
        <ol>
          <h4><li>Add zebo (laundry) to your favorite</li></h4>
          <h4><li>Click on favorite icon</li></h4>
          <h4><li>Ask 4 pickup & post</li></h4>
        </ol>
      </div>
      <div class="col-md-2"></div>
    </div>

    
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
