<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Free application for laundry in your area</h2>
        <p class="lead">ZEBO app will search laundries in your area, you can place job to your favorite laundry.
          It is simple in 3 steps.
        </p>
      </div>
      <div class="col-md-4">
        <h4 class="text-center">Step 1</h4>
        <hr class="small">
        <div class="portfolio-item">
           <img class="img-portfolio img-responsive" src="img/step1.jpg">
        </div>
      </div>
      <div class="col-md-4">
        <h4 class="text-center">Step 2</h4>
        <hr class="small">
        <div class="portfolio-item">
            <img class="img-portfolio img-responsive" src="img/step2.jpg">
        </div>
      </div>
      <div class="col-md-4">
        <h4 class="text-center">Step 3</h4>
        <hr class="small">
        <div class="portfolio-item">
            <img class="img-portfolio img-responsive" src="img/step3.jpg">
        </div>
      </div>
    </div>

    
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
