<section id="screenshots" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Screen Shots</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/empty.png">
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/history.png">
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/item.png">
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/postJob.png">
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/basket.png">
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/itemDetail.png">
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
	<a href="https://zebo.app/"  target="blank" class="btn btn-dark">TRY IT NOW</a>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
