<section id="screenshots" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Our Partner(s)</h2>
        <hr class="small border-black">
        <h5>We are currently in BETA, more partners will be added in future</h5>
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/partners/jl.png">
            </div>
          </div>
          <div class="col-md-3"></div>
        </div>
        <!-- /.row (nested) -->
	      <a href="https://zebo.app/"  target="blank" class="btn btn-dark">TRY IT NOW</a>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
