<!DOCTYPE html>
<html lang="en">

{% include head.html %}
<style>
  .sticky {
    position: fixed;
    padding-top: 40px;
    padding-left: 10px;
  }

  @media (max-width: 767px) {
    .sticky {
      display: none;
    }
  }

  p {
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px;
  }
</style>

<body>

  <section class="about">
    <div class="container">
      <div class="row">
        <div>
          <img src="img/zebo-logo.png" class="img-responsive"
            alt="Zebo - connecting YOU with YOUR laundry" />
        </div>
      </div>
      {{ content }}
    </div>
  </section>

  {% include footer.html %}
  {% include scripts.html %}

</body>

</html>